
# 解决flask 1.x 线上环境切换

# 程序运行入口文件
FLASK_APP=run.py

# 运行环境
# 测试 development
FLASK_ENV=production

# 运行状态，
# 生产环境必须为False
FLASK_DEBUG=False

# 数据库路径


## 邮件本地测试
## python3 -m smtpd -n -c DebuggingServer localhost:8025
#MAIL_PORT=8025
#MAIL_SERVER=localhost
#FLASK_DEBUG=False


# # 线上邮件
# MAIL_SERVER=smtp.googlemail.com
# MAIL_PORT=587
# MAIL_USE_TLS=1
# MAIL_USERNAME=<your-gmail-username>
# MAIL_PASSWORD=<your-gmail-password>