<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Microblog</title>
    {% endif %}

</head>
<body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for foo in messages %}
            <li>{{ foo }}</li>
            <br>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
